acl whitelist {
        10.0.26.0/26;
        10.0.30.0/24;
        localhost;
};

options {
	directory "/var/cache/bind";

	response-policy { 
    		zone "rpz.local"; 
	};

	allow-query {
		whitelist;
	};

	forwarders {
{% for host in forwarders %}
	 	{{ host }};
{% endfor %}
	};

	dnssec-validation auto;

	listen-on-v6 { any; };
};

logging {
    channel rpzlog {
  	file "/var/log/named/rpz.log" versions unlimited size 100m;
    	print-time yes;
    	print-category yes;
    	print-severity yes;
    	severity info;
    };
    category rpz { rpzlog; };
};

zone "rpz.local" {
	type master;
        file "/etc/bind/db.rpz.local";
};
